{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat assistant</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'chat/style1.css' %}">

    <!-- Ajax only -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <style>

    </style>

</head>
<body>

<header class="header" style="font-family: 'Oswald'">
        <h1 class="logo" >Developer's club</h1>
        <div class="project">
            <img class="project__img" src="{% static 'chat/img/chat.png' %}">
            <p class="project__name">Simple messanger</p>
        </div>
</header>




<div class="page" >
    <div class="message" id="message-list">

    </div>
    <form method="post" id="post-form" class="input">
            {% csrf_token %}
            <input type="text" id="message" name="message" class="input__text" placeholder="Введите #interface, чтобы узнать команды">

            <button class="btn">
                <img src="{% static 'chat/img/submit.png' %}" class="input__photo">
            </button>
    </form>
</div>


<script>
    $(document).on('submit', '#post-form', function (e) {
        e.preventDefault();
         mes = $('#message').val();
            send_data = {
                "message":mes,
                "csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val()
            };

            $.ajax({
                url:"{% url 'reload_path' %}",
                type:"post",
                data:send_data,
                success: function(data){
                    $('#message-list').append("<div class='my'><p class='my__message'>" + data['message'] + "</p><img class='my__photo' src='{% static "chat/img/vadim.jpg" %}'></div>");
                    $('#message-list').append('<div class="chat"><img class="chat__photo" src="{% static 'chat/img/voice.jpg' %}"><p class="chat__message">' + data['answer'] + '</p></div>');
                },
                error: function() {
                  alert('problem');
                }
            });
    })
</script>

</body>
</html>